@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Karla:ital,wght@0,400;0,500;0,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #F5F7FB;
    text-align: center;
    height: 100%;
    /* user-select: none; */
}

/***********************
    Main Screen(StartUp)
************************/
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #293264;
    font-family: Karla;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .44em;
}

.description {
    max-width: 60ch;
    margin: 0 auto 1.8em;
    color: #293264;
    font-family: Inter;
    font-size: 1rem;
}

.start-btn {
    /*Button Layout*/
    border: 0;
    border-radius: 15px;
    background: #4D5B9E;
    padding: 1.625em 4.50em;
    
    /*Button Text*/
    cursor: pointer;
    color: #F5F7FB;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    
    /*Button Experience*/
    cursor: pointer;
}

/***********************
    Blobs
************************/


.top-right-blob {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-left-blob {
    position: absolute;
    bottom: 0;
    left: 0;
}

/***********************
    Quiz Screen(Game)
************************/

.quiz-screen {
    background-color: #F5F7FB;
    height: 100vh;
    width: 100vw;
}

.questions-container {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    width: 73%;
}

.question-container {
    
    padding: 2.5rem;
    border-bottom: 1px solid #DBDEF0;
}

.question {
    color: #293264;
    font-family: Karla;
    font-size: 1rem;
    font-weight: 700;
}

.answer-btn-container {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    
}

/*choices*/

.answer-btn {
  /*Button text*/
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #293264;
  /*Button layout*/
  padding: 4px 14px;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  background-color: transparent;
  margin: 10px
  
}

/* check answer and then switch state*/

.button-container {
    margin: 1.25rem auto 1.5625rem;
}

/*Button Selction*/

/*higlights user's selction*/
.answer-btn.selected {
  background-color: #d6dbf5;
  border-color: #d6dbf5;
}

/*higlights correct selction*/
.answer-btn.correct {
  background-color: #94d7a2;
  border-color: #94d7a2;
}

/*higlights incorrect selction*/
.answer-btn.incorrect {
  background-color: #f8bcbc;
  border-color: #f8bcbc;
}

/*dims non selected selctions*/
.answer-btn.dimmed {
  opacity: 0.5;
}

/* added to fix */
.check-btn,
.play-again-btn {
    /*Button text*/
    color: #F5F7FB;
    font-family: Inter;
    font-size: .6875rem;
    font-weight: 600;
    
    /*Button layout*/
     background-color: #4D5B9E;
     padding: 1.6em 3.75em;
     border-radius: 15px;
     border: 0;
     
    /*Button Experience*/
    cursor: pointer;
}

.warning-message {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ff5858;
  margin-bottom: 16px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.result-message {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #293264;
}


/*Media Querries*/

@media (max-width: 1000px) {
  .answer-btn-container {
      flex-direction: column;
  }
}